<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>728197302969-9hbcefjcb8kiagp7k6kd0uif2rvj6j4q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.728197302969-9hbcefjcb8kiagp7k6kd0uif2rvj6j4q</string>
	<key>API_KEY</key>
	<string>AIzaSyB7JK9xdFJ1uA8lJnX6aeEAq2_tj1Ae0_0</string>
	<key>GCM_SENDER_ID</key>
	<string>728197302969</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.itech.pherapeutic</string>
	<key>PROJECT_ID</key>
	<string>pherapeutic-b4292</string>
	<key>STORAGE_BUCKET</key>
	<string>pherapeutic-b4292.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:728197302969:ios:932d19c9f2002b530a2968</string>
</dict>
</plist>